.footer {
    background-color: #000;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    color: #fff;

    @media (max-width: 680px) {
	    display: block;
	    text-align: center;
	    height: auto;
	}

    p {
    	margin: 1rem;

    	@media (max-width: 680px) {
	    	margin: 2rem;
		}
    }

    .social {

    	img {
		    width: 4rem;
			height: 4rem;
			margin: 0 1rem;
    	}	
    }

}