
.header {
	width: 100%;
    max-height: 70rem;
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
	
	img {
		width: 100%;
	}	

	.about-info {
		color: #F3F3F4;
		padding: 13rem 10rem;

		&-desc {
			width: 100%;
			text-align: center;

			h1 {
				font-size: 40px;
				font-weight: 800;
			}

			h3 {
				font-size: 30px;
			    margin-bottom: 4rem;
				font-weight: 300;
			}

			p {
				font-size: 18px !important;
			}


			img {
				width: 20rem;
			    border-radius: 50%;

			}

			.info-button {
				width:50%;
				margin: 3rem auto;
			
				button {
					width: 15rem;
					height: 4rem;
					margin-right: 1rem;
					color: #000;
				    font-weight: 800;

				     &:focus {
					    outline: none !important;
				    }
				}

				.button-white {
			        background-color: #d2d2d2;
				    border-radius: 20px;
				    border-color: transparent;

				     &:hover {
				        background-color: #FFF !important;
				    }
				}
			}
		}

	}
}