@import "circle";

.skills-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 18rem);;
	padding: 100px 150px 0;
	
	@media (max-width: 1180px) {
		padding: 0;	
	}

	@media (max-width: 991px) {
		grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: repeat(4, 18rem);;
	}

	@media (max-width: 768px) {
	    grid-template-rows: repeat(4, 16rem);
	}

	@media (max-width: 678px) {
	    grid-template-columns: repeat(2, 1fr);
	    grid-template-rows: repeat(8, 20rem);
	}

	@media (max-width: 425px) {
	    grid-template-rows: repeat(8, 47vw);
	}

	.skills-item {
		font-size: 30px;
		text-align: center;
    	display: flex;
	    flex-direction: column;
	    justify-content: space-between;

			img {
				width: 7vw;
				height: auto;
				margin: 1rem auto;

				@media (max-width: 991px) {
					width: 10vw;
				}

				@media (max-width: 678px) {
					width: 20vw;
				}
			}

			p {
			    font-weight: 700;
			    margin-top: 5px;
			}

			.skill-rate {
				margin: auto;

				.c100 {
					top: -20px;
				}
			}
	}

}