a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.a-default {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}

.a-default:hover {
  color: #fff !important;
}

hr {
  border-top: 1px solid #47505E !important;
}

