.main-wrapper {
  background-color: #111821;
  height: 100%;
  width: auto;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

p {
  color: #AAADB0;
  font-size: 15px;
  margin-top: 3rem;
}

.a-default {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}

.a-default:hover {
  color: #FC7FB2 !important;
}

hr {
  border-top: 1px solid #47505E !important;
}

.sidebar {
  margin: 0;
  padding: 5rem 2rem;
  width: 28rem;
  background-color: #1E2A3A;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sidebar-content {
  width: 100%;
  text-align: center;
}

.sidebar-content img {
  border-radius: 50%;
}

.sidebar-content-info {
  color: #fff;
}

.sidebar-content-info h3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
}

.sidebar-content-info p {
  font-size: 14px;
}

.sidebar-content-social img {
  width: 3rem;
  margin: 5px 8px;
}

.sidebar-menu {
  margin: 0 4rem;
}

.sidebar-menu a {
  display: block;
  color: #BCC0C4;
  padding: 6px;
  font-weight: 700;
  font-size: 18px;
}

.sidebar-menu a.active {
  color: #FC7FB2 !important;
}

.sidebar-menu a:hover:not(.active) {
  color: white;
}

.sidebar-menu a .fa {
  padding: 4px 16px;
}

.sidebar-menu a:nth-child(2) .fa {
  padding: 4px 12px 4px 14px;
}

.sidebar-menu a:nth-child(3) .fa {
  font-size: 15px;
}

