a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.a-default {
  color: #d2d2d2;
  font-size: 16px;
  margin-top: 5px;
}

.a-default:hover {
  color: #fff !important;
}

.a-default:focus {
  color: #fff !important;
}

.a-black {
  color: #6b6b6b;
}

.a-black:hover {
  color: #000 !important;
}

hr {
  border-top: 1px solid #47505E !important;
}

.navbar {
  text-align: right;
  background-color: black;
  width: 100%;
  z-index: 1000;
}

.navbar nav {
  margin: 2rem 8vw;
}

@media (max-width: 991px) {
  .navbar nav {
    margin: 1rem 8vw;
  }
}

.navbar nav a {
  margin: 2rem;
  font-size: 16px;
  font-weight: 700;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar nav img {
  width: 3rem;
  height: 100%;
}

.navbar .mobile-navbar {
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  height: 0;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .mobile-navbar a {
  line-height: 4rem;
}

.navbar .animated {
  height: auto;
  padding: 1rem 4rem;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #000;
  width: 100%;
  height: 8rem;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: #fff;
}

@media (max-width: 680px) {
  .footer {
    display: block;
    text-align: center;
    height: auto;
  }
}

.footer p {
  margin: 1rem;
}

@media (max-width: 680px) {
  .footer p {
    margin: 2rem;
  }
}

.footer .social img {
  width: 4rem;
  height: 4rem;
  margin: 0 1rem;
}

@media (max-width: 991px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .mobile {
    display: none !important;
  }
}

.main-wrapper {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

